<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>ml page  </title>
    <div class="radio-inputs">
        <label class="radio">
            <input type="radio" name="menu" onclick="location.href='/main/data'" />
            <span class="name">DATA</span>
        </label>
        <label class="radio">
            <input type="radio" name="menu" onclick="location.href='/main/chart'" />
            <span class="name">CHART</span>
        </label>
        <label class="radio">
            <input type="radio" name="menu" onclick="location.href='/main/ml'" />
            <span class="name">ML</span>
        </label>
        <label class="radio">
            <input type="radio" name="menu" checked onclick="location.href='/main/map'" />
            <span class="name">MAP</span>
        </label>
        <label class="radio">
            <input type="radio" name="menu" onclick="location.href='/main'" />
            <span class="name">HOME</span>
        </label>
    </div>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function showData(dataType) {
            window.location.href = "/main/data?type=" + dataType;  // Flask에서 데이터 유형을 전달
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>📍 서울시 안전도 지도</h1>
        <p>범죄율, CCTV 개수, 치안 시설 등을 고려한 서울시 안전도를 시각화한 지도입니다.</p>
        <iframe class="map-frame" src="{{ url_for('static', filename='seoul_risk_map.html') }}" 
        style="width:100%; height:650px; border:none;"></iframe>

    </div>

</body>
</html>
